<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178031477070-vt5oje27jqvisg96e0fmo6af8mrisnmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178031477070-vt5oje27jqvisg96e0fmo6af8mrisnmv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178031477070-6s54a1s31pfu0qlg643g4g834ed0pmbf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwRMWNXgFmM1CHr2IOPqT5b5AOIIJYPmU</string>
	<key>GCM_SENDER_ID</key>
	<string>178031477070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myttech.myEServiceCompany</string>
	<key>PROJECT_ID</key>
	<string>myeservice-15c35</string>
	<key>STORAGE_BUCKET</key>
	<string>myeservice-15c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178031477070:ios:751c83b6c0568841d99e1f</string>
	<key>DATABASE_URL</key>
	<string>https://myeservice-15c35-default-rtdb.firebaseio.com</string>
</dict>
</plist>