<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178031477070-ak2ed5v2m7e46cltssjuf6fnqok9j6ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178031477070-ak2ed5v2m7e46cltssjuf6fnqok9j6ti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178031477070-e2j34kc32ko70km8cgf6q55ln67n9mb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwRMWNXgFmM1CHr2IOPqT5b5AOIIJYPmU</string>
	<key>GCM_SENDER_ID</key>
	<string>178031477070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myEServiceCompany</string>
	<key>PROJECT_ID</key>
	<string>myeservice-15c35</string>
	<key>STORAGE_BUCKET</key>
	<string>myeservice-15c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178031477070:ios:d2347a0a7219bdd6d99e1f</string>
</dict>
</plist>